<!DOCTYPE html>
<html>
  <head>
    <title>Error handler 500</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>Error handler</h1>
      <p><%=err%></p>
  </body>
</html>
