<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Monse exercises</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Index</a></li>
        <li><a href="/cookie">Cookie-Parser</a></li>
        <li><a href="/formulario">formulario</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/session">Session</a></li>
            <li><a href="/json">Json</a></li>
            <li><a href="/queryString">QueryString</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">More and more exercises</li>
            <li><a href="/bodyparser">Body parser</a></li>
            <li><a href="/error">Error</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
