<!DOCTYPE html>
<html>
  <head>
    <title>Chapter 9</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>App properties</h1>
      <p><%=lang%></p>
      <p><%=appName%></p>
      <p>Render is in action: <%=render%></p>
      
  </body>
</html>
