<!DOCTYPE html>
<html>
  <head>
    <title>Body parser</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Body Parser</h1>
    <form method="post"> 
        nombre: <input type="text" name="nombre"/>
        apellido: <input type="text" name="apellido"/>
        <input type="submit" value="guardar"/>
    </form>
      
      req.body: <%= body%>
  </body>
</html>
