<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Request Object</h1>
    <p><%= params%></p>
    <p><%= route%></p>
  </body>
</html>