<!DOCTYPE html>
<html>
  <head>
    <title>qs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>qs</h1>
    <form method="get"> 
        nombre: <input type="text" name="nombre"/>
        apellido: <input type="text" name="apellido"/>
        edad: <input type="text" name="edad"/>
        <input type="submit" value="guardar"/>
    </form>
      query: <%= query%>
  </body>
</html>
