<!DOCTYPE html>
<html>
  <head>
      <title>Pro Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pro Express.js</h1>
      <p> Welcome to the Pro Express.js Response example!</p>
      
      <p>render-title example <%= title%></p>  
    </body>
</html>
