<!DOCTYPE html>
<html>
  <head>
    <title>Express-Session</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <form method="post"> 
        nombre: <input type="text" name="nombre"/>
       apellido: <input type="text" name="apellido"/>
       <input type="text" name="_csrf" value="<%= csrfToken %>" />
       <input type="submit" value="guardar"/>
    </form> 
      
      Hola: <%= fullname %>
  </body>
</html>