<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>app.param()</h1>
    Texto en URL que se imprime gracias a app.param: <h1>" <%= texto %> "</h1>
  </body>
</html>