<!DOCTYPE html>
<html>
  <head>
    <title>busboy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>Busboy</h1>
   <form method="post" enctype="multipart/form-data"> 
        Archivo: <input type="file" name="nombre" />
       <input type="submit" value="guardar" />
    </form> 
      
  </body>
</html>