<!DOCTYPE html>
<html>
  <head>
    <title>urlParams</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>URL</h1>
      <p>PARAMS</p>
      <form method='get'>
          username: <input type="text" name="username"/>
          password: <input type="text" name="password"/>
         <input type="submit" name="guardar"/>
      </form>
      <h2>QueryString</h2>
      <div><%= username%> - <%= password%> </div>
      <h2>UrlParams</h2>
      <div><%= nombre%> - <%= apellido%> </div>
  </body>
</html>
